table {
    width: 100%;
    border: 3px solid rgb(26, 89, 206);
    border-radius: 5px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid cornflowerblue;
    padding: 5px;
    border-radius: 2px;
}

th {
    background-color: rgb(57, 93, 253);
}