table {
    width: 100%;
    border: 3px solid rgb(26, 89, 206);
    border-radius: 5px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid cornflowerblue;
    padding: 5px;
    border-radius: 2px;
}

th {
    background-color: rgb(57, 93, 253);
}

.Progressbar {
    overflow: hidden;
    background-color: cornflowerblue;
    height: 25px;
    width: 80%;
    border: 3px solid white;
    border-radius: 7px;
  }
  
  .studyprogress {
    background-color: green;
    height: 100%;
    width: 50%;
    border-radius: 4px;
}

  