body {
    display: block;
}

header {
    text-align: center;
    height: 70px;
    border-top-left-radius: 40px;
}

main, header, footer {
    background-color: darkslateblue;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    background-color: rgb(57, 93, 253);
}

nav li {
    display: inline;
    float: left;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
}

nav a:hover {
    background-color: cornflowerblue;
}

.active {
    background-color: rgb(26, 89, 206);
}

main {
    display: flex;
}

article {
    margin-top: 0px;
    margin-left: 20px;
}

article li {
    margin-left: -25px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 71.5px;
    height: 100%;
    overflow: hidden;
    background-color: rgb(26, 89, 206);
}

aside li {
    margin-top: 4px;
    margin-left: -37px;
    display: block;
    width: 71.5px;
}

aside a {
    text-decoration: none;
    color: white;
    padding: 4px 50px;
}

aside a:hover {
    background-color: cornflowerblue;
}

footer {
    margin-top: -16px;
    height: 50px;
    display: block;
    border-bottom-right-radius: 40px;
}