article a {
    color: lightgray;
}

.post1 {
    height: 50px;
    overflow: hidden;
    transition: height 1s;
}

.post1:hover {
    height: 120px;
}

.post2 {
    height: 50px;
    overflow: hidden;
    transition: height 1s;
}

.post2:hover {
    height: 120px;
}

.post3 {
    height: 50px;
    overflow: hidden;
    transition: height 1s;
}

.post3:hover {
    height: 120px;
}

.post4 {
    height: 50px;
    overflow: hidden;
    transition: height 1s;
}

.post4:hover {
    height: 120px;
}

.post5 {
    height: 50px;
    overflow: hidden;
    transition: height 1s;
}

.post5:hover {
    height: 120px;
}